<ion-view hide-nav-bar="true" hide-back-button="true" name="map-view-utilities" data-tap-disabled="true">
  <ion-content class="map-view-utilities" ion-content scroll="false" no-bounce>
    <div id="map" data-tap-disabled="true"></div>

    <form class="trip-add trip-filter padding" id="pac-sidebar">
        <div class="trip-from">
  			<select id="radius" name="radius" class="form-control">
                <option value="200">200m</option>
            </select>
        </div>
	</form>

    <div class="map-item-info-board hide">
        <div class="map-item-info-thumb-div">
            <img class="map-item-info-thumb" src=""/>
            <div class="map-item-info-price center">
                <i class="fa fa-dollar"></i><span></span>
            </div>
        </div>
        <div class="iw-content map-item-info-details">
            <div class="map-item-info-close"><i class="fa fa-times"></i></div>
            <h4 class="map-item-info-title iw-title">Place title</h4>
            <div class="iw-subTitle"><i class="fa fa-map-marker"></i> <span class="map-item-info-address"></span></div>
            <div class="map-item-info-more">
                <div>Loại: <span class="map-item-info-type"></span></div>
                <div><i class="fa fa-bed"></i> <span class="map-item-info-bed"></span></div>
                <div>Hướng: <span class="map-item-info-huong"></span></div>
                <div><i class="fa fa-phone"></i> <span class="map-item-info-contact_phone"></span></div>
            </div>

            <div class="btn-group map-item-info-buttons center hidden">
                <a class="btn btn-default btn-sm map-item-view-utilities"><i class="fa fa-share-alt"></i> Tiện ich</a>
                <a class="btn btn-default btn-sm map-item-gotoview"><i class="fa fa-feed"></i> Chi tiết</a>
            </div>

            <div class="hide">
                <div class="map-item-info-des"></div>
                <div class="iw-bottom-gradient"></div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>


  </ion-content>
</ion-view>
