<ion-view view-title="{{item.title}}" name="map-view">
  <ion-content class="map-view" ion-content scroll="true" no-bounce>

      <div class="map-item-thumbs">
          <img class="map-item-thumb-big" src="{{item.thumbs[0]}}"/>
      </div>

      <div class="map-item-info">
          <div class="map-item-btns">
              <div class="map-item-btn map-item-utilities" ng-click="utilities()">
                  <span>Tiện ích</span>
              </div>
              <div class="map-item-btn map-item-panorama" ng-click="panorama()">
                  <span>Panorama</span>
              </div>
              <div class="map-item-btn map-item-streetview" ng-click="streetview()">
                  <span>Street</span>
              </div>
          </div>

          <h4>{{item.price}}</h4>
          <div class="map-item-address"><i class="fa fa-map-marker"></i> {{item.address}}</div>
          <div class="map-item-details">{{item.details}}</div>
      </div>
  </ion-content>
</ion-view>
